.conocenos {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 117px;
  top: 922px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enUniqueLivingSomosUnGrupoJove {
  position: absolute;
  left: 120px;
  top: 1030px;
  width: 650px;
  height: 264px;
  text-align: justify;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 12px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.jARDIN1 {
  position: absolute;
  left: 890px;
  top: 727px;
  width: 572px;
  height: 723px;
  background-image:/* webpackIgnore: true */ url('assets/jARDIN1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.rectangle2 {
  position: absolute;
  left: 120px;
  top: 1344px;
  width: 95px;
  height: 95px;
  background-color: #bf806b;
}
._20 {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 152px;
  top: 1380px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.anosDeExperiencia {
  color: #bf806b;
  font-size: 24px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 224px;
  top: 1416px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
